*{
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}

.cabecalho{
background-color:#343840;
color:rgb(238, 232, 232);
display: flex;
justify-content: space-around;
align-items: center;
padding: 5px 0;
}

.cabecalho-imagem{
  width: 16%;  
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px
}  

.escola-imagem{
  width: 25%;
}
.escola{
  background-image: linear-gradient(#343840, #276b84);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.escola-div-conteudo{
width: 35%;
}

.escola-titulo{
  padding: 24px 0;
}
.funcionario-imagem{
  width: 120px;
}

.funcionario-icone{
  width: 24px;
}

.funcionario-div{
  text-align: center;
}

.funcionario-todos{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
  background-color: black;
  text-align: center;
}

.rodape-imagem{
  height: 60px;
  padding: 12px 0;
}

img{
  border-radius: 20%;
}

a{
  color: white;
  text-decoration: none;
}

nav a:hover {
  color:#109ccf ;
}