*{
    margin: 0;
    padding: 0;
}

.cabecalho{
background-color: #424E61;
color:rgb(255, 255, 255);
display: flex;
justify-content: space-around;
align-items: center;
padding: 5px 0;
}

.cabecalho-imagem{
  width: 13%;  
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px
}  

.escola-imagem{
  width: 30%;
}

.escola{
  background-image: linear-gradient(#424E61, #4EBFE9);
  color: white;
  display: flex;
  justify-content: center;;
}

.escola-div-conteudo{

}