*{
    margin: 0;
    padding: 0;
}

.cabecalho{
background-color:rgb(15, 15, 15);
color:rgb(238, 232, 232);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.cabecalho-imagem{
  width: 15%;  
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 80px;
    font-size: 50px
}  
.escola-imagem {
  width: 16%;
}